<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.basketball.dao.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.wt.basketball.model.Article">
    </resultMap>


    <insert id="add"  parameterType="com.wt.basketball.model.Article" useGeneratedKeys="true" keyProperty="id">
        insert into article
        <set>
            title = #{title},
            content = #{content},
            createtime = #{createtime},
            username = #{username},
            type = #{type}
        </set>
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from article
        <where>
            <if test="text != null and text != ''">
                title like concat("%", #{text}, "%")
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="pushhot != null">
                and pushhot = #{pushhot}
            </if>
        </where>
        order by createtime desc
    </select>

    <select id="get" resultMap="BaseResultMap">
        select * from article where id = #{id}
    </select>

    <update id="update">
        update article
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="title != null and title != ''">
                content = #{content},
            </if>
            <if test="createtime != null ">
                createtime = #{createtime},
            </if>
             <if test="read != null ">
                read = #{read},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="pushhot != null ">
                pushhot = #{pushhot},
            </if>
            <if test="type != null ">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from article where id = #{id}
    </delete>

    <update id="addRead">
        update article set `read` = `read` + 1 where id = #{id}
    </update>

    <update id="addGood">
        update article set `good` = `good` + 1 where id = #{id}
    </update>

    <update id="addLike">
        update article set `like` = `like` + 1 where id = #{id}
    </update>

    <update id="addUnlike">
        update article set `unlike` = `unlike` + 1 where id = #{id}
    </update>
</mapper>