<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.basketball.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.wt.basketball.model.User">
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from user
    </select>


    <select id="selectByBall" resultMap="BaseResultMap">
        select u.* from user as u join yue on u.username = yue.username
        <where>
            <if test="ballid != null">
                ballid = #{ballid}
            </if>
        </where>
        order by yue.createtime desc
    </select>



    <select id="get" resultMap="BaseResultMap">
        select * from user where username = #{username}
    </select>


    <update id="update">
        update user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="isadmin != null">
                isadmin = #{isadmin},
            </if>
        </set>
        where username = #{username}
    </update>

    <insert id="add">
        insert into user
        <set>
            username = #{username},
            password = #{password},
            nickname = #{nickname},
            phone = #{phone},
            email = #{email},
            isadmin = #{isadmin}
        </set>
    </insert>

    <delete id="delete">
        delete from user where username = #{username}
    </delete>
</mapper>